# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key

# Data
*.parquet
*.avro
data/raw/
data/processed/

# Reports
great_expectations/uncommitted/
reports/

# Docker
postgres_data/
